In [1]:
print("bonjour")

bonjour

In [9]:
print("what's your first name?")
str1=input()
print("what's your last name?")
str2=input()
print(str2+" "+str1)

what's your first name?
wafa
what's your last name?
chebbi
chebbi wafa

In [19]:
n = int(input())
n1 = n
n2 = n+n*10
n3 = n+n*10+n*100
print (n1+n2+n3)

5
615

In [22]:
n = int(input())
if (n % 2) == 0:
   print("this is Even")
else:
   print("this is Odd")

5
this is Odd

In [48]:
sums=""
for i in range(2000,3200):
    if (i % 7) == 0 and (i % 5) != 0:  
        n=str(i)
        sums=sums+","+n
print (sums)

,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [53]:
n = 8
factorial = 1
if n < 0:
      print("negative number")
elif n == 0:
      print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
           factorial = factorial*i
print("The factorial of",n,"is",factorial)

The factorial of 8 is 40320

In [72]:
str1=input()
result = "" 
for i in range(len(str1)):
    if i % 2 == 0:
        result = result+str1[i]
print (result)

hello team
hlota

In [80]:
n= 8
if n > 500:
    nn=n*0.5
    print("the price after 50% of discount is",nn)
elif n>200 and n<500:
    nn=n*0.7
    print("the price after 30% of discount is",nn)
elif n<200:
    nn=n*0.9
    print("the price after 10% of discount is",nn)

the price after 10% of discount is 7.2