In [1]:
print("bonjour")

bonjour

In [1]:
x=input()

1

In [2]:
  ((x+12)**2-y**3))//9

SyntaxError: unmatched ')' (<ipython-input-2-864a3f2f771c>, line 1)

In [3]:
a=2

In [11]:
a=2
b=4
def test(a, b):
  # write your code below this line 
    x = int(a)
    y = int(b)
    ((x+12)**2-y**3)//9
  
    return # write here the returned value of the function  # Write your code above this line

In [ ]:
print("what's your first name?")
str1=input()
print("what's your last name?")
str2=input()
print(str2+" "+str1)

#datastructure

In [3]:
list = [2, 3, 6]
produit = 1

for i in list:
    produit = produit * i

print(produit)

36

In [17]:
tup=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
tup.sort(key = lambda x: x[-1])
print(tup)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [10]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = dict(d1)

d3.update(d2) 

for i, j in d1.items():

    for x, y in d2.items():

        if i == x:

            d3[i]=(j+y)

print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [11]:
number = int(input("Type a number: "))

numberDict = {}
for i in range(1, number+1):
    numberDict[i] = i*i

print(numberDict)

Type a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [13]:
tup=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
tup.sort(key = lambda x: float(x[1]), reverse = True)
print(tup)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]